.footer {
    display: flex;
    padding: 0 0 32px 0;
}

.footer__title {
    font-family: 'MontserratText';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: var(--gray);
}

.footer__links {
    padding-left: 0px;
    margin-right: 50px;
    display: flex;
}

.footer__links__item {
    list-style-type: none;
    font-family: 'MontserratText';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.footer__links__item.-space {
    margin-left: 15px;
}

@media screen and (max-width: 450px) {
    .footer {
        flex-direction: column;
    }
}

